html,
body {
    margin: 0;

}
.bg {
    /* The image used */
    background-image: url("../../images/group.svg");

}
.w1 {
    width:35%;
}
.container{
}
.sep {
    float: right;
    padding-right:76px;
}
.lefty {
    float: left;

}
.table1 {
    border-collapse: separate;
    border-spacing: 15px;
}
.table2 {
    table-layout: fixed;
    width: 100%;
}

.table2 td {
    word-wrap: break-word;         /* All browsers since IE 5.5+ */
    overflow-wrap: break-word;     /* Renamed property in CSS3 draft spec */
}
.special-card{
    background-color:transparent;
    padding-top:229px;

}
.form-group {
    background-color:white;
    border-spacing: 40px;
    -webkit-box-shadow: -1px 1px 5px 1px rgba(194,194,194,1);
    -moz-box-shadow: -1px 1px 5px 1px rgba(194,194,194,1);
    box-shadow: -1px 1px 5px 1px rgba(194,194,194,1);
    border-radius:4px;
}
.form-control {
    border: 0;
    box-shadow: none;
    -webkit-box-shadow: none;
}
#App {
    font-family: sans-serif;
    height: 100vh;
}

#page-wrap {
    text-align: center;
    overflow: auto;
}

.bm-item {
    display: inline-block;
    text-decoration: none;
    margin-bottom: 10px;
    color: #d1d1d1;
    transition: color 0.2s;
}

.bm-item:hover {
    color: white;
}

.bm-burger-button {
    position: fixed;
    width: 20px;
    height: 20px;
    left: 28px;
    top: 70px;
}

.bm-burger-bars {
    background: #373a47;
}

.bm-cross-button {
    height: 24px;
    width: 24px;
}

.bm-cross {
    background: #bdc3c7;
}

.bm-menu {
    background: #373a47;
    padding: 2.5em 1.5em 0;
    font-size: 1.15em;
}

.bm-morph-shape {
    fill: #373a47;
}

.bm-item-list {
    color: #b8b7ad;
}

.bm-overlay {
    background: rgba(0, 0, 0, 0.3);
}
.sidebar {
    background-color: grey;
    font-size: 12px;
}
#sidebar-wrapper {
    min-height: 214vh;
    margin-left: -15rem;
    float:left;
    -webkit-transition: margin .25s ease-out;
    -moz-transition: margin .25s ease-out;
    -o-transition: margin .25s ease-out;
    transition: margin .25s ease-out;

}

#sidebar-wrapper .sidebar-heading {
    padding: 0.875rem 1.25rem;
    font-size: 1.2rem;
}

#sidebar-wrapper .list-group {
    width: 30rem;
}

#page-content-wrapper {
    min-width: 100vw;
}

#wrapper.toggled #sidebar-wrapper {
    margin-left: 0;
}

@media (min-width: 768px) {
    #sidebar-wrapper {
        margin-left: 0;
    }

    #page-content-wrapper {
        min-width: 0;
        width: 100%;
    }

    #wrapper.toggled #sidebar-wrapper {
        margin-left: -15rem;
    }
}
.list-group-item {
    border:0;
    padding: 10px 26px;
    text-decoration:none;
}.list-group-item a:active{
    font-weight:bold;
}
 .card1{
     width:274px;
     min-height:66px;
     float:left;
     background-color:white;
     border-spacing: 40px;
     -webkit-box-shadow: -1px 1px 5px 1px rgba(194,194,194,1);
     -moz-box-shadow: -1px 1px 5px 1px rgba(194,194,194,1);
     box-shadow: -1px 1px 5px 1px rgba(194,194,194,1);
     border-radius:4px;
     margin:5px 6px;

 }
.card2{


     float:right;
 }
.card3 {

    width:700px;
}
.card4 {
    position: relative;
    top: 15px;
    left: 10px;
}
.card5 {
    position: relative;
    top: -18px;
    float: right;
}
.backplate {
    background-color: #80808054;
    padding: 20px 23px;
}
.corner-ribbon{
    width: 90px;
    background: #e43;
    position: absolute;
    top: 25px;
    left: -50px;
    text-align: center;
    line-height: 20px;
    letter-spacing: 1px;
    color: #f0f0f0;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

/* Custom styles */

.corner-ribbon.shadow{
    box-shadow: 0 0 3px rgba(0,0,0,.3);
}

/* Different positions */


.corner-ribbon.top-right{
    top: 93px;
    /* right: -54px; */
    left: 205px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}



/* Colors */

.corner-ribbon.white{background: #f0f0f0; color: #555;}
.corner-ribbon.black{background: #333;}
.corner-ribbon.grey{background: #999;}
.corner-ribbon.blue{background: #39d;}
.corner-ribbon.green{background: #2c7;}
.corner-ribbon.turquoise{background: #1b9;}
.corner-ribbon.purple{background: #95b;}
.corner-ribbon.red{background: #e43;}
.corner-ribbon.orange{background: #e82;}
.corner-ribbon.yellow{background: #ec0;}